<h2>Iterate Over an Array</h2>
<button (click)="iterateOverArray()">Run</button>
<div>{{iterateOverArrayResult_()}}</div>

<h2>Iterate Over an Array in reverse</h2>
<button (click)="iterateOverArrayInReverse()">Run</button>
<div>{{iterateOverArrayInReverseResult_()}}</div>

<h2>Find every second element</h2>
<button (click)="fetchEverySecondElement()">Run</button>
<div>{{everySecondElementResult_()}}</div>

<h2>Find the Index of a Target Element</h2>
<input [ngModel]="searchForTarget"
  (ngModelChange)="findTheTargetElement($event)" />
<div>{{findTheTargetIndexResult_()}}</div>

<h2>Find the First Prime Number in an Array</h2>
<button (click)="findTheFirstPrimeNumberInArray()">Run</button>
<div>{{findTheFirstPrimeNumberResult_()}}</div>

<h2>Traverse a Two-Dimensional Array</h2>
<button (click)="traverseTwoDimensionalArray()">Run</button>
<div>{{traverseTwoDimensionalArrayResult_()}}</div>

<h2>Traverse the Main Diagonal of a Matrix</h2>
<button (click)="traverseMainDiagonalOfMatrix()">Run</button>
<div>{{traverseMainDiagonalOfMatrixResult_()}}</div>

<h2>Traverse the Perimeter of a Matrix</h2>
<button (click)="traversePerimeterOfMatrix()">Run</button>
<div>{{traversePerimeterOfMatrixResult_()}}</div>

<h2>Traverse Elements in Spiral Order</h2>
<button (click)="traverseElementsInSpiralOrder()">Run</button>
<div>{{traverseElementsInSpiralOrderResult_()}}</div>

<h2>Traverse the Lower Triangle of a Matrix</h2>
<button (click)="traverseLowerTriangleOfMatrix()">Run</button>
<div>{{traverseLowerTriangleOfMatrixResult_()}}</div>
